<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
       <a class="navbar-item" href="{{{or site.url (or siteRootUrl siteRootPath)}}}">
	   <img border="0" alt="KVK" src="{{{uiRootPath}}}/img/Wimpel.png" width="60" height="45">
	   {{site.title}}</a>
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Resources</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" target="_blank" rel="noopener noreferrer" href="https://kv-kiel.gitlab.io/kvk-handbuch/">KVK-Handbuch</a>
            <a class="navbar-item" target="_blank" rel="noopener noreferrer" href="https://kv-kiel.gitlab.io/kvk-handbuch-howto/">KVK-Handbuch-Howto</a>
            <hr>
            <a class="navbar-item" target="_blank" rel="noopener noreferrer" href="https://baltic-mh.github.io/Platsch/">Platsch</a>
            <a class="navbar-item" target="_blank" rel="noopener noreferrer" href="https://baltic-mh.github.io/ADHelper/">ADHelper</a>
            <hr>
            <a class="navbar-item" target="_blank" rel="noopener noreferrer" href="http://kv-kiel.blogspot.com/">Kanu-Vereinigung Kiel - Jahreschronik (2007 - 2014)</a>
            <hr>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" target="_blank" rel="noopener noreferrer" href="https://github.com/">GitHub</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" target="_blank" rel="noopener noreferrer" href="https://github.com/baltic-mh/Platsch">Platsch</a>
            <a class="navbar-item" target="_blank" rel="noopener noreferrer" href="https://github.com/baltic-mh/ADHelper">ADHelper</a>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" target="_blank" rel="noopener noreferrer" href="https://gitlab.com/kv-kiel">GitLab</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" target="_blank" rel="noopener noreferrer" href="https://gitlab.com/kv-kiel/kvk-handbuch">KVK-Handbuch</a>
            <a class="navbar-item" target="_blank" rel="noopener noreferrer" href="https://gitlab.com/kv-kiel/kvk-handbuch-howto">KVK-Handbuch-Howto</a>
            <hr>
            <a class="navbar-item" target="_blank" rel="noopener noreferrer" href="https://gitlab.com/kv-kiel/kvk-doku-center">KVK-Doku-Center</a>
            <a class="navbar-item" target="_blank" rel="noopener noreferrer" href="https://gitlab.com/kv-kiel/kvk-doku-ui">KVK-Doku-UI</a>
            <hr>
            <a class="navbar-item" target="_blank" rel="noopener noreferrer" href="https://gitlab.com/kv-kiel/kvk-handbuch-spg-verein">KVK-Handbuch SPG-Verein</a>
            <a class="navbar-item" target="_blank" rel="noopener noreferrer" href="https://gitlab.com/adhelper-cloud">ADHelper Cloud</a>
          </div>
        </div>
        <div class="navbar-item">
          <span class="control">
            <a class="button is-primary" href="http://www.kv-kiel.de">KVK-Homepage</a>
          </span>
        </div>
      </div>
    </div>
  </nav>
</header>
